<mat-card class="max-w-md m-auto">
    <mat-card-title>{{formMode}} cinema</mat-card-title>
    <form
        [formGroup]="form"
        (ngSubmit)="submit()"
        class="flex flex-col"
        #_form
    >
        <mat-form-field>
            <mat-label>Name*</mat-label>
            <input matInput formControlName="name" />
            <mat-error *ngIf="form.controls.name.hasError('required')"
                >This is a required field</mat-error
            >
        </mat-form-field>

        <app-map [initialLocation]="cinema?.latLng" (onLocationChanges)="onLocationChanges($event)" class="mb-3"></app-map>
    </form>
    <mat-card-actions align="end">
        <div class="mr-2">
            <button
                mat-flat-button
                color="accent"
                (click)="_form.requestSubmit()"
                [disabled]="form.invalid"
            >
                {{formMode}}
            </button>
        </div>
        <a mat-button routerLink="/cinemas">Cancel</a>
    </mat-card-actions>
</mat-card>