<div class="flex flex-col">
    <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onOptionSelected($event)"
    >
        <mat-option
            *ngFor="let actor of filteredActors | async"
            [value]="actor"
        >
            <div class="flex flex-row items-center">
                <app-avatar [src]="actor.photo" class="mr-4"></app-avatar>
                <span>
                    {{ actor.name }}
                </span>
            </div>
        </mat-option>
    </mat-autocomplete>
    <!-- Search box -->
    <div class="flex flex-row items-center mb-2">
        <mat-form-field class="flex-grow mr-2 no-padding">
            <mat-label>Actor</mat-label>
            <input
                matInput
                [formControl]="control"
                [matAutocomplete]="auto"
                placeholder="Type an actor name"
            />
        </mat-form-field>
        <button
            mat-flat-button
            color="primary"
            [disabled]="actorAboutToAdd === undefined"
            (click)="$event.preventDefault(); addActor()"
        >
            Add actor
        </button>
    </div>
    <!-- Actors list -->
    <table
        mat-table
        [dataSource]="performances"
        multiTemplateDataRows
        class="mat-elevation-z2"
    >
        <!-- Photo column -->
        <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef>Photo</th>
            <td mat-cell *matCellDef="let element">
                <app-avatar [src]="element.actor.photo"></app-avatar>
            </td>
        </ng-container>

        <!-- Name column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
                {{ element.actor.name }}
            </td>
        </ng-container>

        <!-- More button column -->
        <ng-container matColumnDef="remove">
            <td
                mat-cell
                *matCellDef="let element; let i = dataIndex"
                class="flex flex-row justify-end"
            >
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="More actions button"
                    (click)="$event.preventDefault(); $event.stopPropagation()"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button
                        mat-menu-item
                        (click)="$event.preventDefault(); moveActorUp(i)"
                        [disabled]="i === 0"
                    >
                        <mat-icon>arrow_drop_up</mat-icon>
                        Move up
                    </button>
                    <button
                        mat-menu-item
                        (click)="$event.preventDefault(); moveActorDown(i)"
                        [disabled]="i === performances.length - 1"
                    >
                        <mat-icon>arrow_drop_down</mat-icon>
                        Move down
                    </button>
                    <button
                        mat-menu-item
                        (click)="$event.preventDefault(); removeActor(element)"
                    >
                        <mat-icon color="warn">remove_circle</mat-icon>
                        Remove actor
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <!-- Expanded Content Column -->
        <ng-container matColumnDef="expandedDetail">
            <td
                mat-cell
                *matCellDef="let element"
                [attr.colspan]="displayedColumns.length"
            >
                <div
                    [@detailExpand]="
                        element.collapsed ? 'collapsed' : 'expanded'
                    "
                    class="flex overflow-hidden"
                >
                    <div class="p-2">
                        <p class="font-bold">Character list</p>
                        <ul class="ml-8 list-disc">
                            <li
                                *ngFor="
                                    let character of element.characters
                                        .controls;
                                    let i = index
                                "
                            >
                                <div class="flex flex-row items-center">
                                    <mat-form-field
                                        class="w-48"
                                    >
                                        <mat-label>Character name</mat-label>
                                        <input
                                            matInput
                                            [formControl]="character"
                                        />
                                    </mat-form-field>
                                    <button
                                        *ngIf="element.characters?.length > 1"
                                        mat-icon-button
                                        (click)="
                                            $event.preventDefault();
                                            removeCharacter(element, i)
                                        "
                                        color="warn"
                                    >
                                        <mat-icon>remove_circle</mat-icon>
                                    </button>
                                </div>
                            </li>
                            <div class="w-48 flex flex-row justify-center">
                                <button
                                    mat-icon-button
                                    (click)="
                                        $event.preventDefault();
                                        addCharacter(element)
                                    "
                                >
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                            </div>
                        </ul>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="row.collapsed = !row.collapsed"
            class="element-row cursor-pointer"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            style="height: 0px"
        ></tr>
    </table>
</div>
