<app-generic-list [list]="movies">
    <mat-spinner loading [diameter]="25"></mat-spinner>
    <p empty>No movies to show.</p>
    <div list>
        <mat-card
            *ngFor="let movie of movies; let index = index"
            class="m-4"
        >
            <div class="flex flex-row items-center">
                <p class="mr-2">Name: {{ movie.name }}</p>
                <button
                    mat-raised-button
                    color="warn"
                    (click)="removeMovie(index)"
                >
                    Remove
                </button>
            </div>
            <p>Release date: {{ movie.date | date }}</p>
            <p>Price: {{ movie.price | currency }}</p>
            <app-rating></app-rating>
        </mat-card>
    </div>
</app-generic-list>
