<app-generic-list [list]="movies">
    <mat-spinner loading [diameter]="25"></mat-spinner>
    <p empty>No movies to show.</p>
    <div list class="flex flex-row flex-wrap items-center">
        <mat-card
            *ngFor="let movie of movies; let index = index"
            class="mr-4 mb-4 w-56"
        >
            <img
                mat-card-image
                [src]="movie.cover"
                [alt]="movie.name + ' cover'"
                class="max-w-none h-72"
            />
            <div class="flex flex-row items-center">
                <h2 class="text-lg font-bold">{{ movie.name }}</h2>
            </div>
            <app-rating [rate]="movie.rating"></app-rating>
            <mat-card-actions align="end">
                <button mat-button color="primary">Edit</button>
                <button mat-button color="warn" (click)="removeMovie(index)">
                    Delete
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</app-generic-list>
