<span
    *ngFor="let element of range; let index = index"
    (mouseenter)="onMouseEnters(index)"
    (mouseleave)="onMouseLeaves()"
    (click)="onClick(index)"
    class="cursor-pointer text-yellow-500"
>
    <mat-icon
        *ngIf="previewedRate > index || rate > index"
        [ngClass]="{
            'text-yellow-500': rate > index && previewedRate > index,
            'text-yellow-300': previewedRate <= rate
        }"
        >star</mat-icon
    >
    <mat-icon *ngIf="previewedRate <= index && rate <= index"
        >star_outlined</mat-icon
    >
</span>
