<div>
    <span
        *ngFor="let element of range; let index = index"
        (mouseenter)="onMouseEnters(index, $event)"
        (mouseleave)="onMouseLeaves()"
        (click)="onClick(index)"
        class="cursor-pointer text-yellow-500"
    >
        <mat-icon
            [ngClass]="{
                'text-yellow-500': rate > index && previewedRate > index,
                'text-yellow-300':
                    (previewedRate < rate && previewedRate > index) ||
                    rate > index
            }"
            >{{
                previewedRate > index || rate > index ? "star" : "star_outlined"
            }}</mat-icon
        >
    </span>
</div>
