<div [ngClass]="getDynamicClasses()">
    <div>
        <img [src]="image" [ngClass]="getDynamicClasses()" class="absolute" />
        <div
            (click)="imagePicker.click()"
            [ngClass]="getDynamicClasses()"
            class="
                absolute
                opacity-0
                transition-opacity
                ease-in-out
                duration-300
                hover:opacity-100
                cursor-pointer
            "
        >
            <div
                id="overlay"
                [ngClass]="getDynamicClasses()"
                class="bg-black absolute opacity-80"
            >
                <div
                    [ngClass]="{
                        'bottom-2': size === 'Small',
                        'bottom-8': size === 'Normal'
                    }"
                    class="
                        w-full
                        absolute
                        flex
                        justify-center
                        transform
                        scale-90
                        opacity-100
                    "
                >
                    <mat-icon class="text-white">photo_camera</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<input
    type="file"
    accept="image/*"
    (change)="onImageChange($event)"
    hidden
    #imagePicker
/>
