<div class="h-32 w-32">
    <div>
        <img [src]="image" class="w-32 h-32 rounded-full absolute" />
        <div
            class="
                w-32
                h-32
                rounded-full
                absolute
                opacity-0
                transition-opacity
                ease-in-out
                duration-300
                hover:opacity-100
            "
        >
            <div
                id="overlay"
                class="bg-black w-32 h-32 rounded-full absolute cursor-pointer opacity-80"
                (click)="imagePicker.click()"
            >
                <div
                    class="
                        w-32
                        rounded-full
                        absolute
                        bottom-2
                        flex
                        justify-center
                        transform
                        scale-90
                        opacity-100
                    "
                >
                    <mat-icon class="text-white">add_a_photo</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<input
    type="file"
    accept="image/*"
    (change)="onImageChange($event)"
    hidden
    #imagePicker
/>
